{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_links %}

<title>Sign In</title>

{% endblock %}

{% block head_title %}{% trans "Sign In" %} {% endblock %}

{% block content %}
<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

<h3 class="h3" id="head_banner">{% trans "Sign In" %}</h3>

<form class="container-fluid text-center" id="login_form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}

    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  {% endif %}

  <button  class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
  <a  class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>

</form>
    <div style="width: 60%; margin: 0; padding: 0; display: block;">
        <p>
        The easiest way to access this site is with a Strava account which is a member of the
        <a href="https://www.strava.com/clubs/romsey-road-runners">Romsey Road Runners Strava Club</a>. These accounts
        will be able to automatically capture race results from Strava, and will be immediately activated.
        <strong>First</strong> make sure you're a member of the club and <i>then</i> click "Connect with Strava" below.
        </p>
        <p>
        If you're not a Strava user, you can register normally below but will need to wait for your account to be
        approved by an administrator. Results will need to be submitted manually.
        </p>
    </div>
    {% load account socialaccount %}
    {% get_providers as socialaccount_providers %}
    <ul class="social_providers_list">
    {% for provider in socialaccount_providers %}
        {% if provider.name == "Strava" %}
        <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            <img src="{% static 'main/btn_strava_connectwith_orange.png' %}" alt="Connect with Strava"/>
        </a>
        {% endif %}
    {% endfor %}
        <a href="/accounts/signup" class="btn btn-outline-dark">Register</a>
    </ul>
</div>
{% endblock %}